:root {
  /* main page */
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-txt-bcg-color: #ffffff;
  --hero-footer-bcg-clr: #2f303a;
  /* portfolio page */
}

body {
  background-color: #e5e5e5;
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */

.page-header {
  background-color: var(--second-txt-bcg-color);
}

.header-logo {
  color: var(--title-text-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

.header-web-color {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav-contacts a {
  color: var(--title-text-color);
}

.site-nav-contacts a:hover {
  color: var(--accent-color);
}

.site-nav-contacts a:focus {
  color: var(--accent-color);
}
/* hero */
.hero-section {
  background-color: var(--hero-footer-bcg-clr);
  color: var(--second-txt-bcg-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--second-txt-bcg-color);
}

.team-section {
  background-color: #f5f4fa;
}

.advantage-section,
.what-we-do-section {
  background-color: var(--second-txt-bcg-color);
}

.advantage-titles {
  color: var(--title-text-color);
}

.what-we-do-title {
  color: var(--title-text-color);
}

.team-title {
  color: var(--title-text-color);
}

.developer-names {
  color: var(--title-text-color);
}

/* footer */

.footer {
  background-color: var(--hero-footer-bcg-clr);
}

.footer-logo {
  color: var(--second-txt-bcg-color);
}

.footer-web-color {
  color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}
.footer-adress {
  color: var(--second-txt-bcg-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
